html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    font-family: 'Lato';
    /* font-size: 24px; */
    color: #FFFFFF;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #292929;
}

.container{
    margin: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 0;
}

.header-container{
    background-image: url("/media/images/wallpaper/psych_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0.3125rem 0 0.3125rem 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 4rem; */
    background-color: #292929;
}

#header-row{
    height: 8.75rem;
    background-color: rgba(0,0,0,0);
}

.comments{
    display:flex;
}

.light-row{
    background-color: #383838eb;
}

.dark-row{
    background-color: #141414eb;
}

.center{
    justify-content: center;
    position: relative;
    /* margin-top: 9rem; */
}

.top-9{
    margin-top: 9rem;
}

.font-IMB{
    font-family: 'IBM Plex Mono', monospace;
}

.comment_input{
    width: 100%;
    background-color: #383838eb;
    font-family: 'IBM Plex Mono', monospace;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_Upload{
    background-color: #383838eb;
    color: #FFFFFF;
    margin-left: 0.3rem;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    margin-top: 0.5rem;
}

.commentaries-details{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

summary{
    outline: none;
}

.name-input{
    width: 100%;
    background-color: #383838eb;
    font-family: 'IBM Plex Mono', monospace;
    border: 0;
    -webkit-appearance: none;
    outline: none;
}

.form{
    width: 70%;
    display:flex;
}

.center-div{
    text-align: center;
    position: relative;
    margin-top: 0; 
    flex-direction: column;
    width: 50%;
}

.relative{
    position: relative;
}

.pfp{
    border-radius: 50%;
    /* position: absolute;
    clip: rect(0px,200px,170px,0px); */
}

.block{
    background-color: #292929;
    height: 57px;
    width: 205px;
    position: absolute;
    top: 9rem;
    z-index: 0;
}

.hr { 
    z-index: 3;
    position: absolute;
    background-color: white;
    width: 40%;
    top: 9rem;
    padding: 1px;
} 

.hr-bottom { 
    z-index: 3;
    background-color: white;
    width: 80%;
    padding: 1px;
    margin-top: 4rem;
} 

.web-broken-p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2rem;
    margin:0;
}

li{
    font-family: 'IBM Plex Mono', monospace;
}

.browser-message{
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 0.5rem;
}

.web-broken-p-sml{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    margin:0;
}

.font-sml{
    font-size: 1.3rem;
}

.top-sml{
    margin-top: 2rem;
}

.bottom-sml{
    margin-bottom: 2rem;
}
.top-margin{
    margin-top: 2rem;
}

.top-margin-1{
    margin-top: 1rem;
}

.bottom-margin{
    margin-bottom: 2rem;
}

#bottom-song{
    margin-bottom: 2rem;
}

.info-profile{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.li-info-profile{
    margin-right: 1rem;
}

.margin-right-sml{
    margin-right: 1rem;;
}

#contact-email{
    text-decoration: none;
}

.no-dec{
    text-decoration: none;
}

@media only screen and (max-width: 1920px){
    .row{
        width: 80%;
    }

    .hr{
        width: 70%;
    }
}

@media only screen and (max-width: 960px){
    .container{
        width: 100%;
    }

    .center-div{
        width: 100%;
    }

    .header-container{
        margin-top: 0;
    }
}

.w-100{
    width:100%;
    margin-top: 0;
}