/* ########################################################################### */

                        /* FINISH THIS */

/* ############################################################################ */

.playlist-box{
    display:none!important;
}

html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    font-family: 'Lato';
    /* font-size: 24px; */
    color: #FFFFFF;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #292929;
} 

.footer {
    display: none;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

.playlist-box{
    display: none;
    height: 15rem;
}

.songs-playlist{
    top: 0;
}

.container{
    margin: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0.3125rem 0 0.3125rem 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 4rem; */
    background-color: #121212;
}

.song{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #141414eb;;
    margin-top: 0.5rem;
}

#details-song{
    margin-bottom: 10rem;
}

#song-description{
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0)); */
    font-size: 1.3rem;
}

.slider-desktop{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

#slider-desktop-song{
    background-color: #404040;
    margin-top: 1rem;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    outline: none;
}

.slider-desktop-song::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fdfdfd;
    cursor: pointer;
    border-radius: 0;
}

#slider-desktop-colour{
    background-color: #fdfdfd;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 0%;
}

.h2{
    font-size: 1.5rem;
}

.container-desktop{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.album-image-div{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    
}

.album-image{
    width:100%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #363636;
  color: #000000;
}

#playing-cover{
    transition: 1s;
    position: absolute;
    opacity: 0.2;
    transition: height 1s;
    height: 28%;
}

#playing-cover:hover{
    height: 31%;
    opacity: 70%;
}

#pause-cover{
    transition: 1s;
    position: absolute;
    opacity: 0.2;
    transition: height 1s;
    height: 28%;
}

#pause-cover:hover{
    height: 31%;
    opacity: 70%;
}

.info-song{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-shadow: -1px -1px 10px #000;
}

.song-picture{
    transition: 0.5s;
    height: 17.5rem;
}

.song-picture:hover{
    height: 20rem;
}

.player-icon{
    position: relative;
    right: 11.0625rem;
}

.image-player{
    display: flex;
    position: relative; /**/
    align-items: center;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
}

.song-name{
    margin-right: auto;
    margin-left: 1.6rem;
    font-size: 3rem;
}

.song-author{
    font-size: 1.225rem;
    margin-right: auto;
    margin-left: 1.6rem;
}

.song-upload-date{
    font-size: 1.5rem;
    width: 50%;
    margin-right: auto;
    margin-left: 1.6rem;
    /* margin-left: auto; */
    /* margin-top: 3.125rem; */
}

.song-status{
    font-size: 1.6rem;
    width: 50%;
    margin-right: auto;
    margin-left: 1.6rem;
    
}

.block-black{
    background-color: #121212;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 0.1875rem;
}

.columns{
    display: flex;
    flex-direction: column;
    margin: 5rem 3.75rem;
}

.play:hover{
    transition: ease-in;

}

.player{
    margin: 5rem 0px 0px 160rem;
    width: 100%;
}



.block-black-title{
    background-color: #BB86FC;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 0.1875rem;
    padding-top: 1.6rem;
    padding-bottom: 0.3125rem;
    justify-content: center;
}

.footer{
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100%;
    background-color: black;
    padding-top: 31.875rem;
}

.play-button{
    margin-bottom: 1.25rem;
}

.buttons{
    display: flex;
    justify-content: left;
    margin-left: 5%;

}

#tracktime{
    margin-top: 1.125rem;
    margin-bottom: 0px;
}

.slider{
    width: 100%;
    margin-bottom: 1.75rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.slider-background{
    width: 100%;
    background-color: #404040;
    height: 0.375rem;
    margin-top: 0.125rem;
}

.slider-top{
    width: 0%;
    height: 100%;
    background-color: #fdfdfd;
    transition: width 1s;
}

#song-status-1{
    animation: mymove 3s;
    animation-iteration-count: infinite;
}

@import "compass/css3";

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.song-status{
    opacity: 0;
}

.info-player-song{
    display: flex;
    flex-direction: row;
}

#song-player-name{
    margin-bottom: 0px;
    margin-top: 1.3125rem;
    margin-left: 0.375rem;
    font-size: 1.125rem;
    margin-right: 11.25rem;
    width: 100%;
}

.song-player-time{
    font-size: 0.75rem;
    margin-top: 1.6875rem;
    margin-left: 0.375rem;
}


.volume-top{
    margin-top: 1.25rem;
    margin-left: 0.3125rem;
}

#play-button-player{
    transition: 1s;
}

.web-broken-p{
    display:none;
    font-family: 'IBM Plex Mono', monospace;
    /* margin-bottom: 10rem; */
}

.web-broken-h2{
    display:none;
    font-family: 'IBM Plex Mono', monospace;
}


.volume-slider{
    background-color: #404040;
    -webkit-appearance: none;
    width: 50%;
    height: 20px;
    outline: none;
}

.volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fdfdfd;
    cursor: pointer;
    border-radius: 0;
  }
















/*RESPONSIVENESS*/

 @media only screen and (max-width: 540px) {
    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .footer {
        display: none;
    }

    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
        }
    
    .container{
        width: 100%;
        margin-top: 0;
    }
    
    
    .row{
        margin: 0.75rem 0 0 0;
    }
    
    #playing-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #playing-cover:hover{
        height: 31%;
        opacity: 70%;
    }

    #pause-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #pause-cover:hover{
        height: 31%;
        opacity: 70%;
    }
    
    .song-picture{
        transition: 0.5s;
        height: 7.5rem;
    }
    
    .song-picture:hover{
        height: 9rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }
    
}

@media only screen and (max-width: 720px) and (min-width: 541px){
    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .footer {
        display: none;
    }

    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
        }
    
    .container{
        width: 90%;
    }
    
    
    .row{
        margin: 0.75rem 0 0 0;
    }
    
    #playing-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #playing-cover:hover{
        height: 31%;
        opacity: 70%;
    }

    #pause-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #pause-cover:hover{
        height: 31%;
        opacity: 70%;
    }
    
    .song-picture{
        transition: 0.5s;
        height: 7.5rem;
    }
    
    .song-picture:hover{
        height: 9rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 960px) and (min-width: 720px){
    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .footer {
        display: none;
    }

    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
        }
    
    .container{
        width: 90%;
    }
    
    
    .row{
        margin: 0.75rem 0 0 0;
    }
    
    #playing-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #playing-cover:hover{
        height: 31%;
        opacity: 70%;
    }

    #pause-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #pause-cover:hover{
        height: 31%;
        opacity: 70%;
    }
    
    .song-picture{
        transition: 0.5s;
        height: 10rem;
    }
    
    .song-picture:hover{
        height: 12rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }
}


/*Desktop*/
@media only screen and (min-width: 1140px) {
    .volume{
        width: 20rem;
        height: 0.6rem;
        margin: 0.2rem;
    }

    .volume-slider{
        width: 50%;
        height: 1rem;
        margin: 0;
    }
}

@media only screen and (max-width: 1140px) and (min-width: 960px) {
    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .footer {
        display: none;
    }

    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
        }
    
    .container{
        width: 90%;
    }

    .album-image{
        width: 100%;
    }
    
    
    .row{
        margin: 0.75rem 0 0 0;
    }
    
    #playing-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
        justify-content: left; /* align horizontal */
    }
    
    #playing-cover:hover{
        height: 31%;
        opacity: 70%;
    }

    #pause-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
        justify-content: left; /* align horizontal */
    }
    
    #pause-cover:hover{
        height: 31%;
        opacity: 70%;
    }
    
    .song-picture{
        transition: 0.5s;
        height: 15rem;
    }
    
    .song-picture:hover{
        height: 18rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }
}


/* @media only screen and (min-width: 1440px) {
    #playing-cover{
        display: none;
    }

    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .footer {
        display: none;
    }

    @keyframes blink{
        0%{opacity: 0;}
        50%{opacity: .5;}
        100%{opacity: 1;}
        }
    
    .container{
        width: 90%;
    }
    
    
    .row{
        margin: 0.75rem 0 0 0;
    }

    .album-image{
        width: 40%;
        display: flex;
        justify-content: left;
    }
    
    #playing-cover{
        transition: 1s;
        position: absolute;
        opacity: 0.2;
        transition: height 1s;
        height: 28%;
    }
    
    #playing-cover:hover{
        height: 31%;
        opacity: 70%;
    }
    
    .song-picture{
        transition: 0.5s;
        height: 15rem;
    }
    
    .song-picture:hover{
        height: 18rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }

    .album-image-div{
        justify-content: left;
    }

    #playing-cover{
        opacity: 0;
    }
    #playing-cover:hover{
        opacity: 0;
    }



} */
 @media only screen and (max-width: 1440px) and (min-width: 1140px){
    .slider-desktop{
        display: flex;
        flex-direction: column;
    }

    .playlist-box{
        display: block;
    }

    #playing-cover{
        display: none;
    }

    #pause-cover{
        display: none;
    }

    .slider-desktop{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .web-broken-p{
        display: block;
    }

    .web-broken-h2{
        display:block;
    }

    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .album-image{
        width: 62rem;
        display: flex;
        justify-content: left;
    }
    .container-desktop{
        justify-content: left;
    }

    .album-image-div{
        justify-content: left;
    }

    .song-picture{
        transition: 0.5s;
        height: 10rem;
    }
    
    .song-picture:hover{
        height: 12rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }

    #song-description{
        width: 80%;
    }

}

@media only screen and (max-width: 1743px){
    #song-description{
        width:60%;
    }
}

@media only screen and (min-width: 1440px){
    .row{
        width: 49%;
        margin-left: 0;
        margin-right: 1%;
    }

    .playlist-box{
        display: block;
    }

    .row_desktop{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .background-dark{
        background-color: black;
    }

    .slider-desktop{
        display: block;
    }

    #playing-cover{
        display: none;
    }

    #pause-cover{
        display: none;
    }

    .slider-desktop{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .web-broken-p{
        display: block;
    }

    .web-broken-h2{
        display:block;
    }

    #play-button-player{
        display: none;
    }

    #stop-button-player{
        display: none;
    }

    .album-image{
        width: auto;
        display: flex;
        justify-content: left;
        height: 40rem;
    }

    .container-desktop{
        display: flex;
        justify-content: left;
    }

    .album-image-div{
        display: flex;
        justify-content: left;
        flex-basis: 0;
        height: 40rem;
        margin-bottom: 0.625rem;
    }

    .song-picture{
        transition: 0.5s;
        height: 10rem;
    }
    
    .song-picture:hover{
        height: 12rem;
    }
    
    .song-upload-date{
        font-size: 1rem;
    }

    .song-name{
        font-size: 1.5rem;
    }

    .song-author{
        font-size: 0.8rem;
    }

    .song-status{
        font-size: 0.8rem;
    }

    .playlist-box{
        position: absolute;
        padding-left: 2rem;
        background-color: white;
        padding-right: 2rem;
        /* height: 90%; */
        width: 3%;
        right: 2rem;
        border-radius: 2.25rem;
    }

    .songs-playlist{
        position: absolute;
        right: 1.5rem;
    }

    li{
        color: #121212;
        text-decoration: none;
        list-style-type: none;
    }

    .slider-desktop{
        display: flex;
        flex-direction: column;
        /* flex-basis: 0; */
    }

    #song-description{
        width: 60%;
    }

}
/*@media only screen and (max-width: 2557px) and (min-width: 960px) {
    .container{
        width: 46%!important;
    }
}  */