.nav-buttons{
    background-color: #e6e6e6;
}


@media only screen and (max-width: 960px)
{
    #blur{
        background-color: #e6e6e6;
    }

    #blur-nav{
        background-color: #e6e6e6;
    }
}