*{
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    transition: .5s;
    
}

body{
    background-color: #ececec;
    
}

hr{
    color: #f4f4f4;
}

.container{
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    width: 49%;
    margin: 2rem;
}

#title{
    font-family: 'VT323', monospace;
    font-size: 7rem;
}

.title-row{
    justify-content: center;
}

.card{
    width: 20rem;
    border-radius: 0 0 5px 5px;
    background-color: #e6e6e6;
}

.card-100{
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #e6e6e6;
}

.card-title{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: #d2d2d2;
    border-radius: 5px 5px 0 0;
}

.card-record{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.server-info{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-bottom: 1rem;
    
}

#info-title{
    justify-content: center;
    font-size: 2rem;
}

.align-center{
    display: flex;
    flex-direction: row;
}

#online-sing{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    margin-left: 1rem;
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#card-body-log{
    display: flex;
    flex-direction: column;
}

.name-user{
    width: 25%;
}

.total-time{
    width: 25%;
}

@keyframes blink {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}

@media only screen and (max-width: 960px){
    .container{
        width: 90%;
    }

    #title{
        font-size: 5rem;
    }

    .row{
        justify-content: center;
        width: 100%;
    }

    .align-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .column{
        width: initial;
    }

    .center{
        justify-content: center;
        flex-direction: row;
    }


    .name-user{
        width: 50%;
    }
    
    .total-time{
        width: 50%;
    }
    
}

@media only screen and (max-width: 600px){
    #title{
        font-size: 3rem;
    }
    
    .center{
        justify-content: center;
    }
}