html{
    font-size: 16px;
}

*{
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    
}

body{
    padding: 0px;
    margin: 0px;
    transition: 0.5s;
    background-color: #ececec;
}

.container{
    margin: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-content: center;
    margin-top: 8rem;
}

.title{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.header-column{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.picture{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
    max-width: 100%;
    max-height: 19rem;
}

.picture:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    transition: .5s;
}

.clickable:hover{
    cursor:pointer;
}

#switch-div{
    text-align: center;
}

@media only screen and (max-width: 960px){
    .row{
        flex-direction: column;
    }

    .picture{
        max-width: 100%;
        max-height: 100%;
    }

    .container{
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1440px){
    .picture{
        max-width: 100%;
        max-height: 19rem;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 2199px){
    .picture{
        max-height: 28rem;
    }            

}

@media only screen and (min-width: 2200px){
    .picture{
        max-height: 36rem;
    }            

}
