@media only screen and (max-width: 960px){
    .row{
        flex-direction: column;
    }

    .square-picture{
        width: 100%;
        height: auto;
    }

    .picture{
        width: 100%;
        height: auto;
    }
}

.highlighted{
    border: 5px solid green;
}

.btn-submit{
    margin: 2rem;
    background-color: #0b0;
    border: none;
    height: 3rem;
    width: 5rem;
    color: whitesmoke;
    border-radius: 4px;
}

.bottom{
    margin-bottom: 3rem;
}

p{
    font-size: 1.2rem;
}